<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"> </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"> </uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Teamake"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mapKey" />

        <activity
            android:name=".RegisterActivity"
            android:exported="true">
        </activity>


        <activity
            android:name=".MapsActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".RegisterActivityInfo"
            android:exported="true">
        </activity>

        <activity
            android:name=".HomepageActivity"
            android:exported="true">
        </activity>


        <activity
            android:name=".RidesActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".LookupRideActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".DriverListActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".CreateRideActivity"
            android:exported="true">

        </activity>


        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" /> <!-- launch activity as first -->
            </intent-filter>
        </activity>
    </application>

</manifest>